ion-content {
  --padding-start: theme("spacing.5");
  --padding-end: theme("spacing.5");
  --background: theme("colors.neutral.100");
}

ion-content.no-padding {
  --padding-start: none;
  --padding-end: none;
  --background: none;
}

ion-content.popover{
  --padding-start: theme("spacing.4");
  --padding-end: theme("spacing.4");
  --padding-top: theme("spacing.3");
  --padding-bottom: theme("spacing.3");
  --background: theme("colors.white");
}