ion-chip {
  --background: white;
  --color: theme("colors.neutral.500");
  padding: 6px 16px;
  border: 1px solid theme("colors.neutral.300");
  margin: 0px;
}

ion-chip.checked {
  --background: theme("colors.indigo.500");
  --color: white;
  border: 1px solid theme("colors.indigo.700");
  gap: 8px;
  width: fit-content;
}

ion-chip.discover-chip {
  padding: 4px 16px;
  height: 26px;
}