ion-content {
  --padding-start: theme("spacing.5");
  --padding-end: theme("spacing.5");
  --background: theme("colors.neutral.100");
}

ion-content.no-padding {
  --padding-start: none;
  --padding-end: none;
  --background: none;
}