ion-item::part(native) {
  border: 1px solid theme("colors.neutral.400");
  border-radius: 12px;
  padding-left: 16px;
}

ion-item ion-note {
  margin-left: -4px;
}

ion-input.custom {
  --padding-end: 16px;
  width: calc(100vw - 16px - 40px);
}