ion-item {
  --border-color: theme("colors.neutral.200");
}

.item-single > ion-item {
  --background: theme("colors.white");
  --border-radius: theme("borderRadius.xl");
  --detail-icon-color: theme("colors.neutral.500");
}

.item-single > ion-item > ion-label {
  font-size: 16px !important;
  color: theme("colors.warmblack") !important;
}

.item-mul > ion-item > ion-label {
  font-size: 16px !important;
  color: theme("colors.warmblack") !important;
}

.item-mul > ion-item:first-child{
  --border-radius: theme("borderRadius.xl") theme("borderRadius.xl") 0 0;
}

.item-mul > ion-item:last-child{
  --border-radius: 0 0 theme("borderRadius.xl") theme("borderRadius.xl");
}

.item-mul > ion-item {
  --detail-icon-color: theme("colors.neutral.500");
  --border-color: theme("colors.neutral.200");
}

.item-danger {
  --background: theme("colors.red.400");
  --border-radius: theme("borderRadius.xl");
  --color: theme("colors.white");
}