@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --button-bg: theme("colors.indigo.500");
    --button-bg-active: theme("colors.indigo.700");
    --button-bg-light: theme("colors.white");
    --button-bg-light-active: theme("colors.neutral.200");
    --button-bg-loading: theme("colors.indigo.300");
    --button-border-color: theme("colors.neutral.200");
    --button-border-radius: theme("borderRadius.xl");
    --button-box-shadow: theme("boxShadow.none");
    --button-font-size: theme("fontSize.base");
    --button-font-weight: theme("fontWeight.medium");
    --button-rounded: theme("borderRadius.full");
    --button-default-text-color: theme("colors.white");
    --button-text-color: theme("colors.neutral.400");
    --button-child-spacing: theme("spacing.2");
    --button-icon-size-small: theme("width.4");
    --button-icon-size: 18px;
    --button-icon-size-large: theme("width.6");
    --button-icon-only-small: theme("width.6");
    --button-icon-only: theme("width.7");
    --button-icon-only-large: theme("width.9");

    --radio-unchecked-border-color: theme("colors.neutral.400");
    --radio-checked-border-color: theme("colors.indigo.700");
    --radio-checked-bg: theme("colors.indigo.500");
    --radio-unchecked-bg: theme("colors.white");
  }
}

@layer utilities {
  .col {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }

  .inset-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .flex-center {
    @apply items-center justify-center;
  }
}